
#manners, #eats, #walks, #pets {

	padding  : 0;
	overflow : hidden;
}


#manners div.left,
#manners div.right,
#eats div.left,
#eats div.right,
#walks div.left,
#walks div.right,
#pets div.left,
#pets div.right { 

	padding: $section-padding;
	
	@media (max-width: 1200px) { 

		padding: $section-padding-med; 
	}

	@media (max-width: 992px) { 

		padding: $section-padding-small; 
		
		p { padding: $fluid-content-padding-small; }
	}

	@media (max-width: 720px) { 

		padding: $section-padding-tiny; 
		
		p { padding: $fluid-content-padding-tiny; }
	}
}


#manners div.right, #eats div.left, #pets div.left, #walks div.right {

	background-color  : $seabone;
	height            : 100%;
	padding-bottom    : 3000px;
	margin-bottom     : -3000px;
	background-image  : $blue-background-url;
	background-size   : 240%;
	background-repeat : no-repeat;
	background-position: right 0px top;
}


#manners div.left, #walks div.left {

	color: #FFF;
	background-color: $oldpoop;

	h3 { border-color: #FFF; }
}

#eats, #pets {

	.col-md-6 { float: none; }

	.right { 

		float: right; 
		
		@media (max-width: 992px) { float: none; }
	}
}

#eats .right, #pets .right {

	color            : $oldpoop;
	background-color : $oldsock;

	h3 { border-color: $oldpoop; }
}

#manners {

	h2 { margin-top: 140px; }
}

#eats, #manners {

	h4 { 

		margin-top: 30px;
		text-transform: none;
	}

	.definition {

		font-style: italic;
		margin-top: 30px;
	}

	@media (max-width: 992px) {

		h2 {

			font-size  : 1.3em;
			margin-top : 10px;
		}

		p.definition { 

			margin-bottom: 50px; 
		}
	}
}

#eats {

	img { 

		max-width : 300px; 
		height    : auto;
	}

	h2 { margin-top: 80px; }

	.title { margin: 20px 0 0 }

	.description { margin: 0; }
}

#pets {

	.right {

		// padding-bottom    : 3000px;
		// margin-bottom     : -3000px;

		min-height: 460px;

		@media (max-width: 992px) { 

			min-height: 0;
			padding-bottom: 0;
		}
	}

	img { 

		max-width : 320px; 
		height    : auto; 
		
		@media (max-width: 992px) { 

			padding-bottom : 10px;
			width          : 300px;
		}
	}

	ul {

		padding : 0 10%;
		width   : 100%;

		@media (max-width: 1200px) { padding : 0 6%; }

		@media (max-width: 992px) { 

			padding : 30px 0 40px;
			width   : 350px;
			margin  : 0px auto 50px;
		}

		li {
			
			width          : 50%;
			font-size      : 1.2em;
			font-family    : $display-text;
			text-transform : uppercase;

			padding-bottom: 40px;

			@media (max-width: 1200px) { font-size: .8em; }

			&:before {

				display       : inline-block;
				content       : "";
				border-radius : 50%;
				height        : 22px;
				width         : 22px;
				border        : 1px solid $oldpoop;
				margin-right  : 10px;
			}

			&.yes:before { background-color: #98A6AC; }

			&.no:before { background-color: $oldsock; }
		}
	}
}

#walks {

	ul li .icon { background-color: #FFF; }

	div.right {

		background-image: $gray-background-url;
		background-color: #FFF;

		.icon { 

			margin-top: 80px;
			background-color: $seabone; 
		}


		hr {

			width: 10%;
			background-color: $seabone;
			height: 3px;
			margin: 40px auto;
		}
	}
}