
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Sorts+Mill+Goudy:400,400italic);

$display-text       : 'Montserrat', sans-serif;
$content-text       : 'Sorts Mill Goudy', serif;

$nav-top			: 680px;
$nav-top-med		: 550px;
$nav-top-small		: 500px;

$content-size       : 1em;
$content-size-med   : .9em;
$content-size-small : .9em;

$section-padding       : 60px 0 100px;
$section-padding-med   : 40px 0 80px;
$section-padding-small : 20px 0 50px;

$content-padding       : 0 60px;
$fluid-content-padding : 0 200px;

$content-margin-top       : 40px;
$content-margin-top-med   : 30px;
$content-margin-top-small : 20px;

$background-url     : url("../images/topography@2x.png");

$seabone: #DFEFEF;
$oldsock: #E1E6E9;
$oldpoop: #566D77;
$dogdive: #65FBE2;

* { font-size: 16px; }

body, html {

	position: relative;
	font-family : $content-text;
	text-align  : center;
	color       : $oldpoop;

	@media (max-width: 992px) { font-size: $content-size-small; }
}

p { 

	padding     : $content-padding;
	margin-top  : $content-margin-top;
	line-height : 2.2em;
	font-size   : $content-size;

	@media (max-width: 1200px) { 

		margin-top: $content-margin-top-med; 
		
		font-size: $content-size-med;
	}

	@media (max-width: 992px) { 

		margin-top: $content-margin-top-small; 
		
		font-size: $content-size-small;
	}
}

h1, h2, h3, h4, h5, h6 {

	font-family    : $display-text;
	letter-spacing : .25em;
	text-transform : uppercase;
	font-weight    : 700;

	&.blocked {

		border       : 3px solid $oldpoop;
		display      : inline-block;
		padding      : .7em;
		padding-left : .9em;
		min-width    : 300px;

		@media (max-width: 992px) { 

			padding      : .6em;
			padding-left : .9em;
			min-width    : 220px;
		}
	}
}

h1 { font-size: 4em; }

h3 { 

	font-size: 1.75em; 
	
	@media (max-width: 992px) { font-size: 1.4em;  }
}

section { 

	padding: $section-padding; 
	
	@media (max-width: 1200px) { padding: $section-padding-med; }

	@media (max-width: 992px) { padding: $section-padding-small; }
}

ul {
	
	list-style    : none;
	margin        : 60px auto 0;
	padding       : 0;

	li {

		display : block;
		float   : left;
	}
}

.icon {

	display          : block;
	width            : 100px;
	height           : 100px;
	border-radius    : 50%;
	margin           : 0 auto;
	background-color : $oldsock;

	@media (max-width: 1200px) { 

		width  : 95px;
		height : 95px;
	}

	@media (max-width: 992px) { 
		
		width  : 90px;
		height : 90px;
	}
}



