
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700|Sorts+Mill+Goudy:400,400italic);

$display-text       : 'Montserrat', sans-serif;
$content-text       : 'Sorts Mill Goudy', serif;

$nav-height : 75px;

$nav-top			: 680px;
$nav-top-med		: 550px;
$nav-top-small		: 500px;
$nav-top-tiny		: 300px;

$content-size       : 1.1em;
$content-size-med   : 1em;
$content-size-small : .9em;

$section-padding       : 60px 0 70px;
$section-padding-med   : 40px 0 60px;
$section-padding-small : 20px 0 50px;
$section-padding-tiny  : 20px 0;

$content-padding: 0 60px;

$fluid-content-padding       : 0 200px;
$fluid-content-padding-med   : 0 140px;
$fluid-content-padding-small : 0 80px;
$fluid-content-padding-tiny  : 0 10px;

$content-margin-top       : 40px;
$content-margin-top-med   : 30px;
$content-margin-top-small : 20px;

$background-url      : url("../images/topography@2x.png");
$blue-background-url : url("../images/topography-BLUE@2x.png");
$gray-background-url : url("../images/topography-gray@2x.png");

$seabone: #DFEFEF;
$oldsock: #E1E6E9;
$oldpoop: #566D77;
$dogdive: #65FBE2;

* { font-size: 16px; }

body, html {

	position: relative;
	font-family : $content-text;
	text-align  : center;
	color       : $oldpoop;

	@media (max-width: 992px) { font-size: $content-size-small; }
}

p { 

	padding     : $content-padding;
	margin-top  : $content-margin-top;
	line-height : 2.2em;
	font-size   : $content-size;

	@media (max-width: 1200px) { 

		margin-top : $content-margin-top-med; 
		font-size  : $content-size-med;
	}

	@media (max-width: 992px) { 

		margin-top : $content-margin-top-small; 
		font-size  : $content-size-small;
	}

	@media (max-width: 720px) { 

		margin-top : $content-margin-top-small; 
		font-size  : $content-size-med;
	}
}

h1, h2, h3, h4, h5, h6 {

	font-family    : $display-text;
	letter-spacing : .25em;
	text-transform : uppercase;
	font-weight    : 700;

	&.blocked {

		border       : 3px solid $oldpoop;
		display      : inline-block;
		padding      : .7em;
		padding-left : .9em;
		min-width    : 300px;


		@media (max-width: 992px) { 

			padding      : .6em;
			padding-left : .9em;
			min-width    : 220px;
		}

		@media (max-width: 720px) { 

			border-width : 2px;
			min-width    : 180px;
		}
	}
}

h1 { 

	font-size: 7.5em;

	@media (max-width: 1200px) { font-size: 6em;  }

	@media (max-width: 992px) { font-size: 4.5em;  }

	@media (max-width: 720px) { font-size: 2.5em;  }
}

h3 { 

	font-size: 1.75em; 
	
	@media (max-width: 992px) { font-size: 1.4em;  }

	@media (max-width: 720px) { font-size: 1.2em;  }
}

h4 {

	@media (max-width: 720px) { font-size: 1em;  }
}

strong {
	
	font-weight: 700;
	font-family: $display-text;
	text-transform: uppercase;

	@media (max-width: 720px) { 

		font-size: .78em;
	}
}

section { 

	padding: $section-padding; 
	
	@media (max-width: 1200px) { padding: $section-padding-med; }

	@media (max-width: 992px) { padding: $section-padding-small; }

	@media (max-width: 720px) { padding: $section-padding-tiny; }
}

ul {
	
	list-style    : none;
	margin        : 60px auto 0;
	padding       : 0;

	li {

		display : block;
		float   : left;
	}
}

.icon {

	display          : block;
	width            : 100px;
	height           : 100px;
	border-radius    : 50%;
	margin           : 0 auto;
	background-color : #FFF;
	overflow         : visible;

	@media (max-width: 1200px) { 

		width  : 95px;
		height : 95px;
	}

	@media (max-width: 992px) { 
		
		width  : 90px;
		height : 90px;
	}

	@media (max-width: 720px) { 
		
		width  : 60px;
		height : 60px;
	}

	img {

		width: 100%;

		&.wide {

			width  : 110%;
			height : auto;
		}

		&.wide-shrink { width: 90%; }

		&.high {

			height : 110%;
			width  : auto;
		}

		&.high-small {

			height: 90%;
		}

		&.shift-left { margin-left: -10%; }

		&.shift-right { margin-right: -10%; }

		&.up { margin-top: -20%; }

		&.up-half { margin-top: -10%; }

		&.down { margin-top: 20%; }

		&.down-half { margin-top: 5%; }

		@media (max-width: 720px) { 

			&.left,
			&.right {
				
				margin-left: 0px;
				margin-right: 0px;
			} 
		}
	}
}



