
#manners, #eats, #walks, #pets {

	padding: 0;
	overflow: hidden;
}


#manners .left,
#manners .right,
#eats .left,
#eats .right,
#walks .left,
#walks .right,
#pets .left,
#pets .right { padding: $section-padding; }


#manners .right, #eats .left, #pets .left {

	background-color: $seabone;
	height: 100%;
	padding-bottom: 3000px;
	margin-bottom: -3000px;
	background-image: $background-url;
	background-size: 160%;
	background-repeat: no-repeat;
}


#manners .left, #walks .left {

	color: #FFF;
	background-color: $oldpoop;

	h3 { border-color: #FFF; }
}

#eats .right, #pets .right {

	color: $oldpoop;
	background-color: $oldsock;

	h3 { border-color: $oldpoop; }
}