
nav {

	color            : #FFF;
	height           : 75px;
	background-color : $oldpoop;
	font-family      : $display-text;
	position         : absolute;
	top              : $nav-top;
	left             : 0px;
	right            : 0px;

	ul {

		margin-top: 0;

		li {
			
			width: 11.111111%;

			a {

				display : inline-block;
				color   : #FFF;
				margin  : 24px auto 0;
				font-size: .9em;

				&:hover {

					text-decoration : none;
					color           : $dogdive;
				}
			}
		}
	}

	&.sticky {

		position: fixed;
		width: 100%;
		z-index: 200;
		top: 0;
		left: 0;
	}

	#progress, .progress-block {

		height: 7px;
		margin: 0;
		padding: 0;
	}

	#progress {

		width: 100%;
		// background-color: $oldsock;
		position: absolute;
		bottom: 0px;
		
		.progress-block {

			background-color: $dogdive;
			width: 0;
			float: left;
		}
	}
}