
#quirks, #toys {

	ul li {

		width      : 20%;
		padding    : 0;
		min-height : 230px;
		position   : relative;
		overflow   : hidden;
		cursor     : pointer;

		.text { display: none; }

		.icon, .name { display: block; }

		.name {

			font-family : $display-text;
			font-size   : 1.6em;
			margin-top  : 20px;
		}

		&:after {

			display       : inline-block;
			position      : absolute;
			bottom        : -20px;
			left          : 50%;
			margin-left   : -20px;
			content       : "";
			width         : 0; 
			height        : 0;
			border-left   : 20px solid transparent;
			border-right  : 20px solid transparent;
			-webkit-transition : bottom .2s;
			transition         : bottom .2s;
		}

		&.selected {

			.icon { background-color: $dogdive; }

			&:after { bottom: -5px; }
		}
	}
}

#quirks {

	.quirks-block { border-bottom: 2px solid $oldpoop; }

	ul li:after { border-bottom : 20px solid $oldpoop; }
}


#toys {

	color            : #FFF;
	background-color : $oldpoop;

	h3 { border-color: #FFF }

	.toys-block { border-bottom: 2px solid #FFF; }

	ul li {

		.icon { background-color : #FFF; }

		&:after { border-bottom : 20px solid #FFF; }
	}
}