

#quirks, #toys, #walks {

	p { padding: $fluid-content-padding-small; }

	@media (max-width: 720px) { 
			
		ul { 

			margin-top: 15px;
			width: 75%;
		}

		p { padding: $fluid-content-padding-tiny; }
	}

	ul li {

		padding     : 0;
		min-height  : 210px;
		position    : relative;
		overflow    : hidden;
		cursor      : pointer;
		padding-top : 10px;

		.text { display: none; }

		.icon, .name { display: block; }

		.icon { background-color: $seabone; }

		.name {

			font-family : $display-text;
			margin-top  : 20px;
			padding: 0 10px;
		}

		&:after {

			display       : inline-block;
			position      : absolute;
			bottom        : -20px;
			left          : 50%;
			margin-left   : -20px;
			content       : "";
			width         : 0; 
			height        : 0;
			border-left   : 20px solid transparent;
			border-right  : 20px solid transparent;
			-webkit-transition : bottom .2s;
			transition         : bottom .2s;
		}

		&.selected {

			.icon { background-color: $dogdive; }

			&:after { bottom: -5px; }
		}

		@media (max-width: 720px) {

			min-height: 85px;
			
			.name { display: none; }

			.all-name { display: block; }

			hr { display: block; }

			&:after {

				display: none;
			}
		}
	}

	.all-name {

		display    : none;
		margin-top : 20px;
	}

	hr {
		
		display          : none;
		background-color : #FFF;
		height           : 2px;
		width            : 30px;
	}
}

#quirks {

	.quirks-block { border-bottom: 2px solid $oldpoop; }

	ul li {

		width: 20%;

		&:after { border-bottom : 20px solid $oldpoop; }
	}

	@media (max-width: 720px) {

		.quirks-block { border-bottom: 0px; }
	}
}


#toys {

	color            : #FFF;
	background-color : $oldpoop;

	h3 { border-color: #FFF }

	.toys-block { border-bottom: 2px solid #FFF; }

	ul li {

		width: 25%;

		.icon { background-color : #FFF; }

		&:after { border-bottom : 20px solid #FFF; }

		@media (max-width: 720px) { 

			width: 50%;
		}
	}

	@media (max-width: 720px) {

		.toys-block { border-bottom: 0px; }
	}
}

#walks {

	ul { 
		
		margin: 0 auto;
		width: 80%;

		li {

			width: 50%;
			min-height: 50px;
		}
	}

	hr { display: block; }
}