
#stats {

	background-color: $oldsock;
	padding-bottom: 40px;

	.stats {

		list-style : none;
		padding    : 0;

		@media (max-width: 992px) { margin-top: 0px;  }


		li {

			display : block;
			float   : left;

			@media (max-width: 992px) { margin-top: 40px; }

			@media (max-width: 720px) { margin-top: 20px; }

			.stat, .name { display: block; }

			.stat { 
				
				font-family : $display-text;
				font-size   : 4em;
				font-weight : 700;

				@media (max-width: 1200px) { font-size: 3.4em; }

				@media (max-width: 992px) { font-size: 2.7em; }

				@media (max-width: 720px) { font-size: 1.6em; }

				.sub {

					font-size: .4em;
				}
			}

			.name {

				@media (max-width: 1200px) { font-size: .9em; }

				@media (max-width: 992px) { font-size: .8em; }
			}

			&.age { width: 8%; }

			&.length { width: 15%; }

			&.strength { width: 23%; }

			&.weight { width: 15%; }

			&.colors { width: 10%; }

			&.breed { width: 29%; }

			@media (max-width: 992px) { 

				&.age, 
				&.length, 
				&.strength, 
				&.weight, 
				&.colors, 
				&.breed {

					width: 33.33333%;
				}
			}
		}
	}
}