
#tricks {

	padding-left   : 0px;
	padding-right  : 0px;
	padding-bottom : 0px;

	p { margin-bottom: 40px; }

	.trick {

		height       : 300px;
		box-sizing   : border-box;
		border-top   : 2px $oldsock solid;
		border-right : 1px $oldsock solid;
		border-left  : 1px $oldsock solid;
		overflow     : hidden;
		transition   : all .7s;

		.detail {

			.icon, hr, p { @include transition( all .7s) }
			
			.icon { 

				margin           : 80px auto 40px;
				height           : 100px;
				width            : 100px;
				background-color : $oldpoop;

				img {

					width: 120%;
					height: auto;
					margin-left: -20%
				}
			}

			p, hr { opacity: 0; }

			hr { 

				width            : 40%;
				height           : 3px;
				background-color : $oldpoop;
				margin           : 30px auto;
				border-width     : 0;
			}

			p { 
				
				padding    : 0 40px; 
				margin-top : 0px;
			}
		}

		&:hover {

			background-color: $dogdive;

			.icon {

				margin  : -120px auto 60px;
				opacity : 0;
			}

			p, hr { opacity: 1; }
		}
	}
}