
#tricks {

	padding-left   : 0px;
	padding-right  : 0px;
	padding-bottom : 0px;

	p { 
		margin-bottom: 40px;

		padding: $fluid-content-padding;

		@media (max-width: 1200px) { padding: $fluid-content-padding-med;}

		@media (max-width: 992px) { padding: $fluid-content-padding-small; }

		@media (max-width: 720px) { padding: $fluid-content-padding-tiny; }
	}

	.trick {

		height       : 300px;
		box-sizing   : border-box;
		border-top   : 2px $oldsock solid;
		border-right : 1px $oldsock solid;
		border-left  : 1px $oldsock solid;
		overflow     : hidden;
		transition   : all .7s;

		@media (max-width: 992px) { 

			height  : 200px;
			padding : 0 20%;
		}

		@media (max-width: 720px) { 

			min-height : 270px; 
			padding    : 0 5%;
		}

		.detail {

			.left { 

				@media (max-width: 992px) { float: left; }

				@media (max-width: 720px) { 
					
					width: 100%;
					float: none;
					h4 { padding: 0 0px; }
				}
			}

			.right { 
				
				@media (max-width: 992px) { 

					float: right; 
					width: 50%;
					margin-top: 50px;
				}

				@media (max-width: 720px) { 

					float: none; 
					width: 100%;
					margin-top: 10px;
				}
			}

			.icon, hr, p { @include transition( all .7s) }
			
			.icon { 

				margin           : 80px auto 40px;
				background-color : $oldpoop;

				@media (max-width: 1350px) { margin-top: 60px; }

				@media (max-width: 1150px) { margin-top: 50px; }

				@media (max-width: 1100px) { margin-top: 40px; }

				@media (max-width: 992px) { 

					margin-top    : 30px;
					margin-bottom : 30px; 
				}

				@media (max-width: 720px) { 

					margin-top    : 20px;
					margin-bottom : 15px; 
				}
			}

			p, hr { opacity: 0; }

			hr { 

				width            : 20%;
				height           : 3px;
				background-color : $oldpoop;
				margin           : 20px auto;
				border-width     : 0;

				@media (max-width: 1350px) { margin: 20px auto; }

				@media (max-width: 1275px) { margin: 15px auto; }

				@media (max-width: 1125px) { margin: 15px auto; }

				@media (max-width: 992px) { display: none; }
			}

			p { 
				
				padding    : 0 30px; 
				margin-top : 0px;

				@media (max-width: 1275px) { padding: 0 10px; }

				@media (max-width: 1100px) { padding: 0 0px; }

				@media (max-width: 1150px) { line-height: 1.9em; }

				@media (max-width: 992px) { opacity: 1; }

				@media (max-width: 720px) { margin-bottom: 20px; }

			}
		}

		@media (min-width: 992px) { 

			&:hover, &:focus {

				background-color: $dogdive;

				.icon {

					margin  : -120px auto 60px;
					opacity : 0;

					@media (max-width: 1350px) { margin-bottom: 50px; }

					@media (max-width: 1200px) { margin-top: -130px; }

					@media (max-width: 1100px) { margin-top: -135px; }
				}

				p, hr { opacity: 1; }
			}
		}
	}
}